.border {
    border: solid;

}

.rows{
    display: flex;
    flex-direction: column;
}

.table {
    margin: auto;
}

.overlay {
    /* @include overlay(1.5rem); */
    background-color: darkorange;
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 1em;
}
