.border {
    border: solid;

}

.rows{
    display: flex;
    flex-direction: column;
}

.table {
    margin: auto;
    padding: 20px;
    color: black;
}

.overlay {
    /* @include overlay(1.5rem); */
    background-color: darkorange;
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 1em;
}

#srchBTN {
    margin-top: 20px;
}

#clearBTN {
    margin-top: 20px;
    margin-bottom: 20px;
}

#unclearBTN{
    margin-top: 20px;
    margin-bottom: 20px;
}

#result {
    margin-top: 30px;
}

#cityTitle {
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

#tableDisplay {
    font-family: 'Oswald', sans-serif;
}

#noBars {
    margin-bottom: 20px;
    font-size:larger;
    font-weight:bolder;
}

.table, th, td, tr {
    border: 2px solid rgb(0, 247, 255);
    /* border: 2px solid rgb(3, 255, 255); */
    text-align:center;
    padding: 20px;
}

.table th {
    border: 2px solid rgb(0, 247, 255);
}

.table td {
    border: 2px solid rgb(0, 247, 255);
}

.table tr {
    border: 2px solid rgb(0, 247, 255);
}

.box {
    border: 2px solid rgb(0, 247, 255);
    display: block;
    height: auto;
    background-color: #d9faff;
}

.hero {
    position: relative;
    text-align: center;
    height: 250px;
    color: white;
}

.hero-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img-hero {
    width: 100%;
    height: 100%;
}

.title {
    font-family: 'Oswald', sans-serif;
    color: #00f7ff;
    font-weight: 900;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.subtitle {
    font-family: 'Oswald', sans-serif;
    color: #00f7ff;
    font-weight: 500;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
