.border {
    border: solid;

}

.rows{
    display: flex;
    flex-direction: column;
}

.table {
    margin: auto;
    padding: 20px;
    color: hsl(171, 100%, 41%)
}

.overlay {
    /* @include overlay(1.5rem); */
    background-color: darkorange;
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 1em;
}

#srchBTN {
    margin-top: 20px;
}

#clearBTN {
    margin-top: 20px;
    margin-bottom: 20px;
}

#unclearBTN{
    margin-top: 20px;
    margin-bottom: 20px;
}

#result {
    margin-top: 30px;
}

#cityTitle {
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

#tableDisplay {
    font-family: 'Oswald', sans-serif;
}

.table, th, td, tr {
    border: 2px solid rgb(0, 247, 255);
    text-align:center;
    padding: 20px;
}

.table th {
    border: 2px solid rgb(0, 247, 255);
}

.table td {
    border: 2px solid rgb(0, 247, 255);
}

.table tr {
    border: 2px solid rgb(0, 247, 255);
}

/* #TS0 #TS1 #TS2 #TS3 #TS4 #TS5 {
    cursor: pointer;
} */

.box {
    border: 2px solid rgb(0, 247, 255);
    display: block;
    height: auto;
}